#!/usr/bin/env bash
# Don't use `set -e`

# === Docs / Help ===
alias docs="open https://docs.joshuatz.com/"

# === File management ===
alias is_symlink="test -L"
alias list="ls -halt"
# -c = created
# -z = compress
# -v = verbose
# -f = file / file as archive
# Can pass dirs and/or files
# Example: `tar -czvf output.tar.gz /dir/sub_dir file_a file_b`
alias tgz_create="tar -czvf"
alias tgz_list="tar -tzvf"
alias exif="exiftool"
# -D = show with decimal
# -u = include unknown
# -U = include binary unknown
# Tip: exiftool supports JSON output! `-json`
alias exif_full="exiftool -D -u -U"
# Also works: magick identify -verbose ./file.jpg | grep Quality
alias get_jpeg_quality="exiftool -JPEGDigest -JPEGQualityEstimate"

# == Terminals, Shells ===
alias tao="tmux_auto_open"

# == Security ===
alias rand_pass="openssl rand -base64 32"

# === Global stuff ===
alias gtask="task -t ~/Taskfile.global.yml"
alias npxg="npx_exec_global"
alias node_repl="node --experimental-repl-await"

# === git ===
alias git-search="git log -p -G"
alias gca="git commit --amend"
alias gcan="git commit --amend --no-edit"
alias gl="git log"
alias git-commit-skip-hooks="git commit --no-verify"
# 3rd party aliases (provided by oh-my-zsh)
#	https://github.com/ohmyzsh/ohmyzsh/blob/master/plugins/git/git.plugin.zsh
#	gd = git diff
#	gds = git diff --staged
#	... many more

# === work ===
alias work-time="npx --package jtz-time-tracker-utils jttu harvest rollup --target-user=just-me --target-week=this"
