#!/usr/bin/env bash
# Don't use `set -e`

alias list="ls -halt"
alias gtask="task -t ~/Taskfile.global.yml"

# Git
# 3rd party aliases (provided by oh-my-zsh)
#	https://github.com/ohmyzsh/ohmyzsh/blob/master/plugins/git/git.plugin.zsh
#	gd = git diff
#	gds = git diff --staged
#	... many more
alias git-search="git log -p -G"
alias gcan="git commit --amend --no-edit"
alias gl="git log"
